<router-outlet></router-outlet>
<app-treegrid> </app-treegrid>
<!-- Column Add Button -->
<button class="e-control e-btn " style="display:none" id="targetButtonAdd" (click)="onOpenDialogAdd($event)">Open
  Dialog</button>
<!-- Column Edit Button -->
<button class="e-control e-btn " style="display:none" id="targetButton" (click)="onOpenDialog($event)">Open
  Dialog</button>
<!-- Column Delete Button -->
<button class="e-control e-btn " style="display:none" id="targetButtonDel" (click)="onOpenDialogDel($event)">Open
  Dialog</button>

<div #container class='root-container'></div>
<!-- Column Add dailog -->
<ejs-dialog id='dialog' #template showCloseIcon='true' [visible]='visible' header='Add new Col' (open)="dialogOpen()"
  [height]='height' [target]='targetElement' width='435px'>
  <ng-template #footerTemplate>
    <button id="sendButton" class="e-control e-btn e-primary sendButton" data-ripple="true">Add</button>
  </ng-template>
  <ng-template #content>
    <div class="dialogContent">
      <input id="inVal" class="e-input" type="text" placeholder="Enter New Col Name " />
    </div>
  </ng-template>
</ejs-dialog>

<!-- Column Edit dailog -->

<ejs-dialog id='dialog' #alertDialog showCloseIcon='true' [visible]='visible' (open)="dialogOpenEditCol()"
  [height]='height' [target]='targetElement' width='435px' header='Edit Col'>
  <ng-template #footerTemplate>
    <button id="sendButton1" class="e-control e-btn e-primary sendButton1" data-ripple="true">Update</button>
  </ng-template>
  <ng-template #content>
    <div class="dialogContent">
      <input id="inEditCol" class="e-input" type="text" placeholder="Enter Col Name " />
      <input id="inVal1" class="e-input" type="text" placeholder="Enter Update Col Name " />
    </div>
  </ng-template>
</ejs-dialog>

<!-- Column Delete dailog -->

<ejs-dialog id='dialog' #alertDialogDel showCloseIcon='true' [visible]='visible' (open)="dialogOpenDeleteCol()"
  [height]='height' [target]='targetElement' width='435px' header='Delete Col'>
  <ng-template #footerTemplate>
    <button id="sendButtonDel" class="e-control e-btn e-primary sendButtonDel" data-ripple="true">Delete</button>
  </ng-template>
  <ng-template #content>
    <div class="dialogContent">
      <input id="inDelCol" class="e-input" type="text" placeholder="Enter Delete Col Name " />
    </div>
  </ng-template>
</ejs-dialog>

<!-- Treegrid Bind -->
<ejs-treegrid [dataSource]='response' #treegrid height='220' [allowReordering]='true' [allowFiltering]='true'
  [filterSettings]="filterSettings" [allowRowDragAndDrop]='true' [allowAdding]='true'
  [contextMenuItems]='contextMenuItems1' (actionBegin)="actionBegin($event)" (contextMenuOpen)="contextMenuOpen($event)"
  [contextMenuItems] (contextMenuClick)="contextMenuClick($event)" [allowResizing]='true' [allowSorting]='true'
  [treeColumnIndex]='1' [selectionSettings]='selectionOptions' [allowDeleting]='true' [showColumnChooser]='true'
  childMapping='subtasks' [editSettings]="editSettings" [allowSelection]="true" [columns]="columns" [toolbar]="toolbar">

</ejs-treegrid>

<!-- Header Contextmenu Add -->
<ejs-contextmenu #headercontextmenu target='.e-gridheader' [items]='headerItems' (beforeItemRender)='itemRender($event)'
  (beforeClose)='beforeClose($event)' (select)="itemSelect($event)">
</ejs-contextmenu>